/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(27, 20, 116);  
    
    color: #ffffff;
    font:  Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(250, 209, 75);
    text-align: left;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}



/* specifieke stijlen */

img.zweeflinks {
    float: left;
    margin-left: 15px;
    margin-top:17px;
    border: groove;
   border-color:rgb(250, 209, 75);
   border-width: 5px;
}

img.zweefrechts{
    float: right;
    border: groove;
   border-color:rgb(250, 209, 75);
   border-width: 7px;
   height: 410px;
    width: 280px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(238, 222, 74);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.block
{
   background-color: rgb(68, 184, 230);
   margin:10px;
   padding:10px;
   border: groove;
   border-color:rgb(250, 209, 75);
   border-width: 7px;
   
}

#schrijfster
{
    width: 50%;
    border: groove;
   border-color:rgb(250, 209, 75);
   border-width: 7px
}

#idk{
    width:50%; 
    float: right;
    
}

#iets{
    margin-top: 440px;

}

/*houses*/

.ravenclaw
{ background-color: steelblue;
    border: groove;
border-width: 8px;
border-color: rgb(68, 184, 230);

}

.hufflepuff
{ background-color: rgb(250, 209, 75);
    border: groove;
border-width: 8px;
border-color: rgb(255, 178, 35);
}

.slytherin
{ background-color: seagreen;    
border: groove;
border-width: 8px;
border-color: rgb(63, 151, 63);
}

.gryffindor
{ background-color: firebrick;
border: groove;
border-width: 8px;
border-color: rgb(253, 53, 53);
}

#padding
{
    padding:7px;
    width:58%;
    margin: 10px;
}

#size
{
    height: 250px;
    width: 230px;
    
}

.ravenclawimg
{float:right;
margin-top: -438px;
border: groove;
border-width: 8px;
border-color: rgb(68, 184, 230);
}

.hufflepuffimg
{float:right;
margin-top: -310px;
border: groove;
border-width: 8px;
border-color: rgb(255, 178, 35);
}

.slytherinimg
{float:right;
margin-top: -492px;
border: groove;
border-width: 8px;
border-color: rgb(63, 151, 63);
}

.gryffindorimg
{float:right;
margin-top: -400px;
border: groove;
border-width: 8px;
border-color:rgb(253, 53, 53);
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(68, 184, 230);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #eccf90;
}

nav li a.active {
    background-color: rgb(250, 209, 75);
}


/* kleur kopjes */

.yellow {
    color: rgb(250, 209, 75);
}

/* karakterss*/

.left{
    float: left;
width:55%;
background-color: rgb(68, 184, 230);
margin:10px;
padding:10px;
border: groove;
border-color:rgb(250, 209, 75);
border-width: 7px;
   
}

.right{
float: right;
width:55%;
background-color: rgb(68, 184, 230);
margin:10px;
padding:10px;
border: groove;
border-color:rgb(250, 209, 75);
border-width: 7px;
text-align: right;
}

.imgleft{
    float: left;
    margin-top:10px;
    margin-left: 10px;
    border: groove;
   border-color:rgb(250, 209, 75);
   border-width: 7px;
}

.imgright{
    float: right;
    margin-top:10px;
    margin-right: 10px;
    border: groove;
   border-color:rgb(250, 209, 75);
   border-width: 7px;
}

#harryimg
{
    height: 218px;
    width: 180px;
}

#ronimg{
    height: 175px;
    width:170px;
}

#hermioneimg{
height: 219px;
    width: 180px;    
}

#tomimg{
    height: 350px;
    width: 210px;
}

#albusimg{
    height: 320px;
    width: 230px;
}

#severusimg{
    height: 280px;
    width: 200px;
}

#dracoimg{
    width: 200px;
    margin-bottom: 10px;
}



/*extra*/

.gradient{
    background-color: black;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding:15px;
    text-align: center;
    width: 75%;
    margin-left: 50px;
    border-style: solid;
    border-width: 10px;
    border-radius: 25px;}

@keyframes gradient{
0%{
    color: rgb(255, 225, 91);
}

    13% {
		color: rgb(255, 154, 52);   
	}
	25% {
		color: rgb(243, 112, 85);
    }
    
    38% {color:rgb(239, 78, 123);
    }

    50% {
        color:rgb(161, 102, 171);
    }

    63%{
        color:rgb(80, 115, 184);
    }

    75%{
        color:rgb(16, 152, 173);
    }

    88%{
        color:rgb(7, 179, 155);
    }
	100% {
		color: rgb(111, 186, 130);
    }
}


.gradient{
    animation:gradient 15s infinite;
}

.do-it{
  font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;  
    text-align: center;
    width: 75%;
    margin-left: 50px;
    animation: do-it 5s infinite;
}

@keyframes do-it {
	0% {
		color: rgb(93, 39, 155);
        font-size: 1rem;
    }
    
    25%{
        color: rgb(163, 26, 26);
        font-size: 2rem;
    }
	50% {
		color: rgb(255, 197, 36);
        font-size: 3rem;
	}
	100% {
        color: rgb(36, 128, 71);
        font-size: 4rem;
	}
}


@keyframes titel{
    0%{
        color: firebrick;
    }

    25%{
        color: rgb(250, 209, 75);
    }

    50%{
        color: seagreen
    }

    75%{
        color: rgb(89, 14, 251);
    }

    100%{
        color: firebrick;
    }
}

.titel{
    animation: titel 5s infinite;
}
