/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(27, 20, 116);  
    
    color: #ffffff;
    font:  Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(250, 209, 75);
    text-align: left;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweeflinks {
    float: left;
    margin-left: 15px;
    margin-top:7px;
    border: groove;
   border-color:rgb(250, 209, 75);
   border-width: 5px
}

img.zweefrechts{
    float: right;
border: groove;
   border-color:rgb(250, 209, 75);
   border-width: 7px
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(238, 222, 74);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.block
{
   background-color: rgb(68, 184, 230);
   margin:10px;
   padding:10px;
   border: groove;
   border-color:rgb(250, 209, 75);
   border-width: 7px
   
}

#schrijfster
{
    width: 50%;
    border: groove;
   border-color:rgb(250, 209, 75);
   border-width: 7px
}

#idk{
    width:50%; 
    float: right;
    
}

#iets{
    margin-top: 405px;

}

.ravenclaw
{ background-color: steelblue;
width: 50%;
}

.hufflepuff
{ background-color: rgb(250, 209, 75);
width: 50%;
}

.slytherin
{ background-color: seagreen;
width: 50%;
}

.gryffindor
{ background-color: firebrick;
width: 50%;
}

#size
{
    length: 400px;
    width: 200px;
    float: right;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(68, 184, 230);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #eccf90;
}

nav li a.active {
    background-color: rgb(250, 209, 75);
}


